/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #0a2f4e;
    color: #e4e4e4;
    line-height: 1.6;
}

/* Header Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #0a2f4e;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: absolute;
    top: 0;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.social-icons a {
    margin-right: 10px;
}

/* Basic styles for the hamburger menu and desktop navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #0a2f4e;
    padding: 10px;
}

/* Hide the desktop navigation by default for mobile and tablets */
.nav-desktop {
    display: none;
    list-style-type: none;
}

.nav-desktop li {
    display: inline-block;
    padding: 10px;
}

.nav-desktop li a {
    color: white;
    text-decoration: none;
}

/* Styles for the mobile hamburger menu */
.menu-toggle {
    display: inline-block;
    cursor: pointer;
}



.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-7px, -6px);
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #001f3f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #f1f1f1;
    color: #001f3f;
}

/* For larger screens, display the desktop menu */
@media screen and (min-width: 768px) {
    .nav-desktop {
        display: block;
    }

    .menu-toggle {
        display: none;
    }

    .sidebar {
        display: none;
    }
}



/* Mobile responsive */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .hero-text h1 {
        font-size: 32px;
    }

    .hero-image {
        margin-top: 20px;
    }
    .menu {
        display: block;
    }
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #4f6367;
}

/* Section Styling */
.section {
    padding: 4rem 2rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

p {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}


.btn-email {
    background-color: #d44638;
}

.btn-whatsapp {
    background-color: #25d366;
}

.btn-github {
    background-color: #fff;
}

.btn-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: white;
    color: #001f3f;
    text-decoration: none;
    border-radius: 5px;
}

/* Right Section: Image */
.image-section {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .image-section {
        justify-content: center;
    }

    .cta-buttons a {
        margin-bottom: 10px;
    }
}

/* Project Cards */

.project-1 p {
    color: #4f6367;
    font-size: 15px;
    }

.project-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    margin: 0.5rem;
    padding: 0.7rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 15px;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.8);
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px rgba(0,0,0,0.3);
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.9rem;
}

.project-card h3 {
    color: #333;
    margin-bottom: 0.5rem;
}

.button {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #4f6367;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 5px;
    
}

.button:hover {
    background-color: #4f6367;
}

/* Skills Section */
#skills ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skills ul li {
    margin: 0.5rem 0.5rem;
    background-color: white;
    padding: 0.75rem 0.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #0a2f4e;
    font-size: small;
}

/* Work Experience */

.req-bold p{
    font-weight: 350;
}


/* Contact Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea {
    width: 80%;
    padding: 0.75rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form button {
    background-color: #4f6367;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #4f6367;
}

/* Footer */
footer {
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/* Header with logo and menu icon */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #333;
    color: white;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }

  /* Sidebar menu */
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #023a73;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: none; /* Initially hidden */
  }

  .sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    background-color: #fff;
  }

  .closebtn {
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }

  /* Sidebar toggle (Hamburger menu) */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #001f3f;
    color: white;
    min-height: 100vh;
}

/* Left Section: Text Content */
.text-section {
    flex: 1;
    margin-right: 20px;
}

.text-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.cta-buttons a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #0077b5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /* Show sidebar and menu icon for phones only */
  @media screen and (max-width: 768px) {
    .container {
      display: inline-block; /* Show the hamburger icon */
    }

    .sidebar {
      display: block; /* Make the sidebar available for toggling */
    }
  }

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }

    .project-grid {
        flex-direction: column;
        align-items: center;
    }
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #023a73;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    font-weight: 400;
  }
  
  #myBtn:hover {
    background-color: #0077b5;
  }
